:root {
  --grey: #bec2ce;
  --dark-grey: #313337;
  --dark-green: #89b0ae;
  --green: #9bd4c8;
  --cream: #fe7a71;
  --light-cream: #faf9f9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  color: var(--dark-grey);
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > h1 {
    margin-bottom: 4rem;
}

.container > .game > .game-board {
  display: grid;
  max-width: 360px;
  grid-template-columns: repeat(3, minmax(120px, 1fr));
  text-align: center;
  gap: 2px;
  background-color: var(--grey);
  margin-bottom: 2rem;
}

.game-board > .cell {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Shantell Sans", sans-serif;
  font-weight: 300;
  background-color: white;
}

.game-board > .cell.X {
  color: var(--green);
}

.game-board > .cell.O {
  color: var(--cream);
}

.game-board > .cell:hover {
  cursor: pointer;
}

.reset-btn {
  padding: 7px 14px;
  color: black;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}
